<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Mongo Explorer</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>

  <h1>MongoDB Explorer</h1>

  <br><br>

  <label id="databases">
    <span>Database: </span>

    <select name="db-selector" id="db-selector">
      <option value="">--Please choose an option--</option>
      <% for (db of dbs) { %>
      <option value=<%= db.name %>> <%= db.name %></option>
      <% } %>
    </select>

  </label>

  <label id="collections">
    <span>Collection: </span>

    <select name="col-selector" id="col-selector">
      <option value="">---------------------------</option>
    </select>

  </label>

  <br><br>

  <table class="table table-striped table-hover table-responsive" id="records-table"></table>

  <br><br>
  <div class="container">
    <div class="row">
      <div id="record-create" class="col">
      </div>
      <div id="record-update" class="col">
      </div>
    </div>
  </div>

  <script src="/javascripts/dbSelector.js"></script>
  <script src="/javascripts/colSelector.js"></script>

</body>

</html>