<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Mongo Explorer</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />

</head>

<body>

  <label id="databases">
    <span>Database: </span>

    <select name="db-selector" id="db-selector">
      <option value="">--Please choose an option--</option>
      <% for (db of dbs) { %>
      <option value=<%= db.name %>> <%= db.name %></option>
      <% } %>
    </select>

  </label>

  <label id="collections">
    <span>Collection: </span>

    <select name="col-selector" id="col-selector">
      <option value="">---------------------------</option>
    </select>

  </label>

  <script src="/javascripts/selectors.js"></script>

</body>

</html>